Django==4.2.7
django-htmx==1.17.0
django-crispy-forms==2.0
crispy-bootstrap5==0.7
Pillow==10.1.0
python-decouple==3.8
psycopg2-binary==2.9.9
django-extensions==3.2.3
qrcode==7.4.2
reportlab==4.0.7
openpyxl==3.1.2
django-cors-headers==4.3.1
whitenoise==6.6.0
gunicorn==21.2.0
pyotp==2.9.0
qrcode[pil]==7.4.2


dj-database-url==2.1.0

